
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #24a451, #c9a037, #f0edde);
  color: white;
}

.home {
   margin: 20px;
}

.container {
   margin: 10px;
}

.recipe-card {
   margin: 10px;
}