body {
  background-color: #f7cf77;
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(to top, #f0edde, #c9a037, #24a451);
  color: white;
  background-size: cover; 
}

.home {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-item-right {
  margin-left: auto;
  @media screen and (max-width: 600px) {
    margin-left: 0px;
  }
}

* {
  font-family: 'Georgia', sans-serif;
}

.carousel-caption h3 {
  display: none;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-item {
  width: 32%;
  margin-bottom: 1%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.active {
  color: green;
  font-size: large;
  text-decoration: none;
}

.inactive {
  color: orange;
  font-size: large;
  text-decoration: none;
}

a {
  margin-left: 1rem;
  color: green;
}

.breadcrumb {
  background-color: #f7cf77;
}

.breadcrumb-item.active {
  color: white;
  text-decoration: underline;
}
